@model DTOs.DTOsEquipo.DTOCamara.DTOCamara

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DTOCamara</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Res" class="control-label"></label>
                <input asp-for="Res" class="form-control" />
                <span asp-validation-for="Res" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pixel" class="control-label"></label>
                <input asp-for="Pixel" class="form-control" />
                <span asp-validation-for="Pixel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Sensor" class="control-label"></label>
                    <select name="Sensor">
                        @foreach (var sensor in Model.TipoSensor)
                        {
                            <option value="@sensor">@sensor</option>
                        }
                    </select>
                    <span asp-validation-for="Sensor" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantDisponible" class="control-label"></label>
                <input asp-for="CantDisponible" class="form-control" />
                <span asp-validation-for="CantDisponible" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
